<ion-modal-view>
    <ion-header-bar class="bar-assertive fix-buttons">
        <h1 class="title">Form đăng ký chi tiết</h1>
        <a class="button button-clear" ng-click="closeForm()">Đóng</a>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <form ng-submit="sendRoute()">
            <div class="list list-inset">
                <div class="list">
                    <label class="item item-input">
                        <input id="frDetailPhone" type="number" placeholder="Số Điện Thoại" ng-model="register.phone">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Tên Khách Hàng" ng-model="register.name">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Số Chỗ</span>
                        <input type="number" ng-model="register.seats">
                    </label>
                    <ion-toggle ng-model="register.vat" toggle-class="toggle-assertive">Yêu Cầu Hóa Đơn</ion-toggle>
                    <ion-toggle ng-model="register.is_round_trip" toggle-class="toggle-assertive">Hai Chiều</ion-toggle>

                    </div>

                <div class="list">
                    <div class="item item-divider">
                        Địa Điểm
                    </div>
                    <label class="item item-input">
                        <input ng-disabled="register.from_airport" type="text" placeholder="Điểm Đi" ng-model="register.start_place">
                    </label>
                    <ion-toggle ng-change="togglePlace(1)" ng-model="register.from_airport" toggle-class="toggle-assertive">Từ Sân Bay</ion-toggle>
                    <label class="item item-input">
                        <input ng-disabled="register.to_airport" type="text" placeholder="Điểm Đến" ng-model="register.destination_place">
                    </label>
                    <ion-toggle ng-change="togglePlace(2)" ng-model="register.to_airport" toggle-class="toggle-assertive">Đến Sân Bay</ion-toggle>
                </div>
                
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Thời Gian Đón</span>
                        <input type="datetime-local" ng-model="register.pickup_datetime">
                    </label>
                    <label class="item item-input">
                        <textarea rows="5" placeholder="Ghi Chú" ng-model="register.desc"></textarea>
                    </label>
                </div>
                <button type="submit" class="button button-block button-assertive">Gửi</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
