<ion-view view-title="Hướng dẫn">
    <ion-nav-bar class="bar-assertive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list card wrapping-list">
            <div class="item">
                <p>1. Đại lý đăng nhập theo user và password mà công ty cung cấp</p>
            </div>
            <div class="item item-image">
                <img src="img/login.jpg">
            </div>
            <div class="item item-divider"></div>

            <div class="item">
                <p>2. Vào Menu chon tab Danh Sách Lịch để đặt xe.</p>
            </div>
            <div class="item item-image">
                <img src="img/menu.jpg">
            </div>
            <div class="item item-divider"></div>

            <div class="item">
                <p>3. Chọn “Thêm” để đăng ký nhanh bao gồm số điện thoại khách hàng và ghi chú chi tiết chuyến đi như: xe mấy chỗ?, địa điểm đón?, thời gian?, loại xe (taxi hoặc xe ko mào), phương thức thanh toán...</p>
            </div>
            <div class="item item-divider"></div>

            <div class="item">
                <p>4. Tổng đài thuê xe siêu tốc sẽ gọi điện lại cho khách hàng ngay sau khi đăng ký nhanh được gửi đi để thông báo về giá cả.</p>
            </div>
            <div class="item item-divider"></div>

            <div class="item">
                <p>5. Khách hàng xác nhận thông tin chuyến đi với tổng đài.</p>
            </div>
            <div class="item item-divider"></div>
            
            <div class="item">
                <p>6. Lịch sử của chuyến đi sẽ được hiển thị rõ ràng và chi tiết trong phần "Danh sách lịch" sau khi khách hàng chốt chuyến với tổng đài.</p>
                <div class="item item-image">
                    <img src="img/pendinglist.jpg">
                </div>
            </div>
            <div class="item item-divider"></div>
            
            <div class="item">
                <p>7. Thông tin lái xe cũng như giá chuyến đi và hoa hồng cho đại lý được thể hiện chi tiết, rõ ràng, minh bạch… trong phần "Danh sách đã bán".</p>
                <div class="item item-image">
                    <img src="img/soldlist.jpg">
                </div>
            </div>
            <div class="item item-divider"></div>
            
            <div class="item">
                <p>8. Sau khi chuyến đi hoàn thành, thông tin lịch sẽ được chuyển vào "Danh sách đã bán" , dễ dàng cho đại lý có thể theo dõi và đối chiếu.</p>
            </div>
            <div class="item item-divider"></div>

            <div class="item">
                <p>9. Hàng tháng kế toán của công ty sẽ đối chiếu hoa hồng với đại lý để thực hiện nghĩa vụ thanh toán cho đại lý theo kết quả thu được hàng tháng.</p>
            </div>
            <div class="item item-divider"></div>
        </div>
    </ion-content>
</ion-view>

