<ion-view view-title="NoiBai Connect" enable-menu-with-back-views="false" hide-back-button="true" no-drag-right>
    <pane side-menu-content drag-content="false">
        <ion-content>
            <form ng-submit="doLogin()">
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-person placeholder-icon"></i>
                        <input type="number" id="lgUsername" placeholder="Số điện thoại" ng-model="loginData.username">
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="password" id="lgPassword" placeholder="Mật khẩu" ng-model="loginData.password">
                    </label>
                    <button class="button button-block button-assertive">Log in</button>
                </div>
            </form>
        </ion-content>
</ion-view>

