<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <a ui-sref="app.pendinglist" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/pendinglist"><i class="icon ion-ios-paper-outline"></i>Danh Sách Lịch</a>
                <a ui-sref="app.soldlist" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/soldlist"><i class="icon ion-ios-checkmark-outline"></i>Danh Sách Đã Bán</a>
                <a ui-sref="app.pricelist" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/pricelist"><i class="icon ion-ios-pricetags-outline"></i>Báo Giá</a>
                <a ui-sref="app.message" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/message"><i class="icon ion-ios-chatboxes-outline"></i>Tin Nhắn Hệ Thống<span class="badge badge-assertive" ng-show="messageCount > 0">{{messageCount}}</span></a>
                <a ui-sref="app.help" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/help"><i class="icon ion-ios-help-outline"></i>Hướng Dẫn</a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

