<ion-view view-title="Danh sách lịch" hide-back-button="true">
    <ion-nav-bar class="bar-assertive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" start-y="55" padding="false" has-tabs="true">
        <ion-refresher pulling-text="Kéo xuống để lấy dữ liệu..." on-refresh="doRefresh()">
        </ion-refresher>
        <div id="search-box" class="bar bar-header item-input-inset">
            <button class="button button-clear icon ion-ios-telephone" ng-click="callMe()">&nbsp;</button>
            <button class="button button-clear icon ion-ios-plus-outline" ng-click="openForm()">&nbsp;</button>
            <div class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="searchFilter">
                <i ng-if="search.length" class="clear-search icon ion-ios-close-outline" ng-click="clearSearch()"></i>
            </div>
            <button class="button button-clear" ng-click="openQuickForm()">
                Thêm
            </button>
        </div>
        <ion-list class="wrapping-list">
            <ion-item ng-repeat="route in routes | filter:searchFilter">
                <h2 ng-if="route.customer_name != '' && route.pickup_datetime != 'null'">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}} <span class="lightblue-text bold-text">{{route.seats}}c</span> <span ng-if="route.car_quality != '0'" class="bold-text">(Loại {{route.car_quality}})</span></h2>

                <h2 class="ng-hide" ng-show="route.start != '' && route.start != 'undefined' && route.destination != 'undefined'">{{route.start}} <i class="icon ion-arrow-right-a ng-hide" ng-show="route.is_round_trip == 0"></i><i class="icon ion-arrow-swap ng-hide" ng-show="route.is_round_trip == 1"></i> {{route.destination}}</h2>

                <h2><a href='tel:{{route.customer_phone}}'>{{route.customer_phone}}</a> <span ng-if="route.customer_name != ''" class="bold-text">{{route.customer_name}}</span>
                    <span ng-if="route.status_id == 1" class="red-text bold-text">(Chờ xử lý)</span>
                    <span ng-if="route.status_id == 2 && route.car_brand == ''" class="lightgreen-text bold-text">(Đã xử lý)</span>
                    <span ng-if="route.status_id == 2 && route.car_brand != ''" class="lightblue-text bold-text">(Đã điều xe)</span>
                    <span ng-if="route.status_id == 3" class="lightred-text bold-text">(Hủy)</span>
                    <span ng-if="route.status_id == 4" class="yellow-text bold-text">(Hoàn thành)</span>
                </h2>
                <p ng-if="route.customer_name != '' && route.customer_price != 0">Thu khách <span class="violet-text bold-text">{{formatCurrency(route.customer_price)}}</span><span ng-if="route.status_id == 2 && route.car_brand != ''" class="violet-text bold-text">/({{formatCurrency(route.customer_price-route.driver_price)}})</span><span ng-if="route.driver_number != ''"> | Lái xe <a href='tel:{{route.driver_number}}'>{{route.driver_number}}</a></span></p>


            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar ng-show="message_title != ''" align-title="left" class="bar-stable">
        <h1 class="title messate-title"><marquee>{{message_title}}</marquee></h1>
        <div class="buttons" ng-click="viewMessage()">
            <button class="button button-assertive">Xem</button>
        </div>
    </ion-footer-bar>
</ion-view>

