<ion-view view-title="Báo giá" hide-back-button="true">
    <ion-nav-bar class="bar-assertive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" start-y="55" padding="false" has-tabs="true">
        <div id="search-box" class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Nhập địa điểm" ng-model="search.query">
                <i ng-if="search.query.length" class="clear-search icon ion-ios-close-outline" ng-click="clearSearch()"></i>
            </div>
            <button class="button button-clear" ng-click="queryPlace()">
                Tìm
            </button>
        </div>
        <ion-list class="wrapping-list">
            <ion-item ng-repeat="place in places">
                <h2><span class="violet-text bold-text">{{place.name}}</span> <span class="red-text">({{place.distance}}km)</span></h2>
                <h3 class="item-text-wrap" ng-bind-html="place.detail"></h3>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

