<ion-view view-title="Danh sách đã bán">
    <ion-nav-bar class="bar-assertive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" start-y="55" padding="false" has-tabs="true">
        <ion-refresher pulling-text="Kéo xuống để lấy dữ liệu..." on-refresh="doRefresh()">
        </ion-refresher>
        <div id="search-box" class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <input type="date" ng-model="filter.from_date">
                <input type="date" ng-model="filter.to_date">
            </div>
            <button class="button button-clear" ng-click="filterDate()">
                Tìm
            </button>
        </div>
        <ion-list class="wrapping-list">
            <ion-item ng-repeat="route in routes">
                <h2>{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}} <span class="lightblue-text bold-text">{{route.seats}}c</span> <span ng-if="route.car_quality != '0'" class="bold-text">(Loại {{route.car_quality}})</span>
                    <span ng-if="route.status_id == 1" class="red-text bold-text">(Chờ xử lý)</span>
                    <span ng-if="route.status_id == 2 && route.car_brand == ''" class="lightgreen-text bold-text">(Đã xử lý)</span>
                    <span ng-if="route.status_id == 2 && route.car_brand != ''" class="lightblue-text bold-text">(Đã điều xe)</span>
                    <span ng-if="route.status_id == 3" class="lightred-text bold-text">(Hủy)</span>
                    <span ng-if="route.status_id == 4" class="yellow-text bold-text">(Hoàn thành)</span>
                </h2>

                <h2 class="ng-hide" ng-show="route.start != ''">{{route.start}} <i class="icon ion-arrow-right-a ng-hide" ng-show="route.is_round_trip == 0"></i><i class="icon ion-arrow-swap ng-hide" ng-show="route.is_round_trip == 1"></i> {{route.destination}}</h2>

                <h2>{{route.customer_phone}} <span class="bold-text">{{route.customer_name}}</span></h2>
                <p ng-if="route.customer_name != '' && route.customer_price != 0">Thu khách <span class="violet-text bold-text">{{formatCurrency(route.customer_price)}}</span><span ng-if="route.status_id == 2 && route.car_brand != ''" class="violet-text bold-text">/({{formatCurrency(route.customer_price-route.driver_price)}})</span></p>


            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div>Thu khách: {{total_price | number:0}}đ ({{total_cut | number:0}}đ)</div>
    </ion-footer-bar>
</ion-view>

