/* Empty. Add your own CSS if you like */
.current{
	background    : #D8D8D8 !important;
}

.violet-text{
	color: #8904B1;
}
/*---------------------------*/
.red-text{
	color: #FA001C;
}

.darkred-text{
	color: #610B0B;
}

.lightred-text{
	color         : #FA5858;
}

/*---------------------------*/

.lightblue-text{
	color         : #0080FF;
}

/*---------------------------*/

.green-text{
	color         : #088A08;
}

.darkgreen-text{
	color         : #0B3B0B;
}

.lightgreen-text{
	color         : #04B404;
}

/*---------------------------*/

.yellow-text{
	color         : #B18904;
}

/*---------------------------*/

.bold-text{
	font-weight   : bold;
}

.wrapping-list .item-content, .wrapping-list .item {
	overflow      : initial;
	white-space   : initial;
}

h2.wrap-text{
	overflow      : initial;
	white-space   : initial;
}

.wrapping-list .item-complex .item-content, .wrapping-list .item-radio .item-content{
	padding-right : 5px;
	padding-left  : 10px;
}

.detail-countdown-timer{
	border        : 1px solid #C0BABA;
	text-align    : center;
	padding       : 20px;
	border-radius : 10px;
	margin        : 15px 15px 20px 15px;
}

.text-align-center{
	text-align    : center;
}

.margin-top-40 {
	margin-top    : 40px;
}

#lgUsername, #lgPassword{
	font-size: 15pt;
}

.popup-body input[type=number]{
	border: 1px solid #B0B0B0;
}

/*-------------------------------------------*/
.messate-title {
	color: red !important;
	width: 90%; 
	white-space: nowrap;
}
