
/*====================
======Typography=====
======================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-weight:400;
	background: #fff;
	color:#43484E
}

a:hover {
	outline: none;
	text-decoration:none;
}

a:focus {
	outline:none;
	outline-offset: 0;
}

a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color:#000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.most-popular {
	height: 300px;
}

.title {
	text-align: center;
}

.carousel {
	height: 210px;
    width: 80%;
    margin: 0 auto;
}

.carousel-item {
	position: relative;
}

.carousel-item .price .not-sale {
	text-decoration: line-through;
}

.carousel-item img {
	height: 125px;
	margin: 0 auto;
}


.slick-slide {
	margin: 0 15px;
}

.image-product {
	height: 125px;
}

.description {
	width: 80%;
	text-transform: uppercase;
	height: 55px;
	font-size: 15px;
	line-height: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description a {
	text-decoration: none;
}

.price {
	margin-top: 10px;
}

.product-overlay h2{
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

.carousel-item.sale::before {
	content: "";
	background: url(../img/Sale-icon2.png) top center no-repeat;
	position: absolute;
	background-size: 70px 70px;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
}

.carousel-item:hover .product-overlay {
	display:block;
	height:50%;
}

.product-overlay {
	background: rgba(254, 255, 255, 0.5);
	top: 0;
	height: 0;
	position: absolute;
	transition: height 1s;
	width: 100%;
}

.product-overlay a {
	text-decoration: none;
}

.product-overlay .overlay-content {
	bottom: 30px;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.product-overlay .add-to-cart {
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #FE980F;
	font-size: 15px;
	line-height: 25px;
	width: 60%;
	min-width: 100px;
	margin: 55px auto;
	background: #fff;
}

.carousel:hover .slick-arrow {
	opacity: 0.8;
}

.slick-arrow {
	width: 45px;
	height: 100%;
	opacity: 0;
	transition: opacity 1s;
}

.slick-prev {
	background: url("../img/back.png") center center no-repeat;
}

.slick-next {
	background: url("../img/next.png") center center no-repeat;
}

.slick-prev:hover,
.slick-prev:focus {
	background: url("../img/back.png") center center no-repeat;
	opacity: 1;
}
.slick-next:hover,
.slick-next:focus
{
	background: url("../img/next.png") center center no-repeat;
	opacity: 1;
}

#opener {
	position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -70px;
}