/* mobile view */
@media screen and (min-width: 320px) and (max-width: 480px) {
    /*nav-bar*/
    #navBar .topnav .title-bar{
        background: #fff;
    }
    #navBar .topnav .title-bar-dark{
        background: #444444;
    }
    #navBar .topnav .title-bar .menu-icon::after{
        background: #444444;
        box-shadow: 0 7px 0 #444, 0 14px 0 #444;
    }
    #navBar .topnav .title-bar-dark .menu-icon::after{
        background: #fff;
        box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
    }
    #navBar .topnav .title-bar .menu-icon{
        float: left;
        display: inline-block;
        margin-top: 7px;
    }
    #navBar .topnav .title-bar .title-bar-title{
        width: 80%;
        float: left;
        text-align: center;
        display: inline-block;
    }
    /* content */
    .content .list-group .grid-medium{
        width: 100%;
    }
    .content .list-group .list .post .post-thumb{
        width: 100%;
    }
    .content .list-group .list .post .post-des{
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }
    /* content with sidebar */
    .content.content-with-sidebar .list-group .grid-default{
        width: 100% !important;
        padding: 10px;
    }
    .content.content-with-sidebar .list-group .group-item-grid-default{
        width: 100% !important;
        padding: 10px;
    }
    .content.content-with-sidebar .list-group .grid-medium{
        width: 100% !important;
        padding: 10px;
    }
    .content.content-with-sidebar .list-group .list .post .post-thumb{
        width: 100% !important;
    }
    .content.content-with-sidebar .list-group .list .post .post-des{
        width: 100% !important;
        margin: 0;
    }
    /* sidebar */
    .sidebar .widgetBox .widgetContent .social-links .socialButton{
        margin-bottom: 10px;
    }
    .sidebar .widgetBox .widgetContent .advBanner{
        width: 100%;
    }
    /* carousel page 3 */
    #carouselSlider .item .inner-item .item-title span{
        bottom: 54px;
    }

    #randomMedia .random-media-head .tabs li a{
        margin-right: 24px;
        padding: 17px 0;
    }
    .content .main-heading .head-title h4{
        font-size: 16px;
    }
    #ninja-slider{
        width: 100%;
    }
    #thumbnail-slider{
        width: 100%;
        height: 200px;
    }
    #thumbnail-slider .inner ul li .item-title span{
        bottom: 54px;
    }
    .content.content-with-sidebar .list-group .landing-extra-small{
        width: 100%;
        padding-right: 10px;
    }
    /* profile */
    .topProfile .main-text{
        padding: 45px 0;
    }
    .topProfile .profile-stats{
        position: relative;
        bottom: 0;
    }
    .topProfile .profile-stats .profile-author-img{
        position: relative;
        bottom:0;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .topProfile .profile-stats .profile-subscribe{
        position: relative;
        left: 0;
        top:0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .topProfile .profile-stats .profile-share{
        position: relative;
        right: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .topProfile .profile-stats .profile-author-name{
        margin-left: 0;
        display: block;
        float: none !important;
        text-align: center;
    }
    .profile-author-stats.float-right{
        float: none !important;
    }
    .topProfile .profile-stats .profile-author-stats ul{
        width: 100%;
        text-align: center;
        display: block;
    }
    .topProfile .profile-stats .profile-author-stats ul li{
        display: inline-block;
        height: auto;
    }
    .topProfile .profile-stats .profile-author-stats ul li div.icon{
        width: 100%;
        float: none !important;
        display: block;
    }
    .topProfile .profile-stats .profile-author-stats ul li div.li-text{
        padding: 7px 3px;
        float: none !important;
        display: block;
    }
    .sidebar{
        margin-top: 50px;
    }

    .comments .comment-box{
        padding-bottom: 35px;
    }
    .comments .comment-box .media-object .comment-img{
        text-align: left;
    }
    .profile-inner .profile-videos .profile-video .media-object .video-img{
        border: none;
        width: 100%;
        height: 100%;
    }
    .profile-inner .profile-videos .profile-video .media-object .video-detail .video-stats{
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .profile-inner .profile-videos .profile-video .media-object .video-btns{
        width: 100%;
        text-align: center;
    }
    .followers .follower .follower-img{
        text-align: center;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .followers .follower .follower-img img{
        height: 100px;
        width: 115px;
    }
    .topProfile-inner{
        padding: 45px 0;
    }
    /* single video */
    .SinglePostStats .media-object .author-des .post-title p{
        margin-bottom: 10px;
    }
    .SinglePostStats .media-object .author-des .post-title p span{
        margin-right: 10px;
    }
    .SinglePostStats .media-object .author-des .subscribe{
        display: block;
        float: none !important;
        text-align: center;
    }
    .SinglePostStats .media-object .author-img-sec{
        border: none;
    }
    .SinglePostStats .media-object .author-img-sec p{
        text-align: left;
    }
    .sidebar .widgetBox .widgetContent .media-object .media-object-section .recent-img{
        height: 100%;
        width: 100%;
    }
    footer .widgetBox{
        margin-bottom: 10px;
    }
	.btm-footer-text{
		padding:0 15px;
	}
	/*jPlayer*/
	.jp-media video{
	  width: 100% !important;
	  height: 100% !important;
	}
	.single-video-pop{
		display:none !important;
	}
}

@media screen and (max-width: 640px){
    .topProfile .profile-stats .profile-author-stats ul{
        width: 100% !important;
        text-align: center !important;
        display: block !important;
    }
    .topProfile .profile-stats .profile-author-stats ul li{
        display: inline-block !important;
        height: auto !important;
    }
    .topProfile .profile-stats .profile-author-stats ul li div.icon{
        width: 100% !important;
        float: none !important;
        display: block !important;
    }
    .topProfile .profile-stats .profile-author-stats ul li div.li-text{
        padding: 7px 3px !important;
        float: none !important;
        display: block !important;
    }
    .topProfile .profile-stats .profile-author-name{
        top: 87px !important;
    }
    .topProfile .profile-stats .profile-share{
        right: 2% !important;
    }
	/*jPlayer*/
	.jp-media video{
	  width: 100% !important;
	  height: 100% !important;
	}
	.single-video-pop{
		display:none !important;
	}
}
    /* tablet view */

@media screen and (min-width: 640px) and (max-width: 1024px) {
    /*nav-bar*/
    #navBar .topnav .title-bar{
        background: #fff;
    }
    #navBar .topnav .title-bar-dark{
        background: #444444;
    }
    #navBar .topnav .title-bar .menu-icon::after{
        background: #444444;
        box-shadow: 0 7px 0 #444, 0 14px 0 #444;
    }
    #navBar .topnav .title-bar-dark .menu-icon::after{
        background: #fff;
        box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
    }
    #navBar .topnav .title-bar .menu-icon{
        float: left;
        display: inline-block;
        margin-top: 7px;
    }
    #navBar .topnav .title-bar .title-bar-title{
        width: 80%;
        float: left;
        text-align: center;
        display: inline-block;
    }
    /* content */
    .content .list-group .grid-medium{
        width: 50%;
    }
    .content .list-group .list .post .post-thumb{
        width: 35%;
    }
    .content .list-group .list .post .post-des{
        width: 60%;
        margin: 0;
        padding: 10px 0;
    }
    /* content with sidebar */
    .content.content-with-sidebar .list-group .grid-default{
        width: 50% !important;
        padding: 10px;
    }
    .content.content-with-sidebar .list-group .group-item-grid-default{
        width: 50% !important;
        padding: 10px;
    }
    .content.content-with-sidebar .list-group .grid-medium{
        width: 50% !important;
        padding: 10px;
    }
    .content.content-with-sidebar .list-group .list .post .post-thumb{
        width: 35% !important;
    }
    .content.content-with-sidebar .list-group .list .post .post-des{
        width: 60% !important;
        margin: 0;
    }
    aside .columns:last-child:not(:first-child){
        float: none !important;
    }
    footer .widgetBox{
        margin-bottom: 10px;
    }
    #ninja-slider{
        width: 70%;
        height: 258px;
    }
    #ninja-slider .slider-inner ul{
        height: 258px !important;
    }
    #thumbnail-slider{
        width: 30%;
        height: 258px;
    }
    .topProfile .profile-stats .profile-author-img{
        bottom: 60px;
    }
    .topProfile .profile-stats .profile-subscribe{
        left: 25%;
    }
    .topProfile .profile-stats .profile-share{
        right: 3%;
    }
    .topProfile .profile-stats .profile-author-name{
        position: absolute;
        left: 28px;
        top: 36px;
        margin-left: 0;
    }
    .followers .follower .follower-img{
        width: 100%;
        height: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .followers .follower .follower-img img{
        width: 100px;
        height: 115px;
    }
    .easy-share span[data-easyshare-total-count],
    .easy-share span[data-easyshare-button-count]{
        margin: 0 10px 0 7px;
    }

}
