<ion-view view-title="Chi tiết lịch xe">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> Quay lại
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" has-bouncing="true">
        <h4 class="text-align-center">{{route.start}} <i class="icon ion-arrow-right-a ng-hide" ng-show="route.is_round_trip == 0"></i><i class="icon ion-arrow-swap ng-hide" ng-show="route.is_round_trip == 1"></i> {{route.destination}}</h4>

        <h5 ng-show="route.is_hight_priority > 0" class="ng-hide violet-text bold-text text-align-center">Lịch Ưu Tiên</h5>

        <h3 class="detail-countdown-timer"><timer language="vn" end-time="returnMilliseconds(route.end_datetime)">{{hourUnit}}</timer></h3>
        <h4 class="text-align-center red-text" ng-show="route.locked_seat == 1">Bạn không tham gia được vì xe của bạn có {{seatNo}} chỗ trong khi khách yêu cầu xe {{route.seats}} chỗ.</h4>
        <h4 class="text-align-center" ng-show="route.is_marked == 1 && route.priceinf != 0">Bạn báo giá <b>{{formatCurrency(route.priceinf)}}</b>, mỗi lái xe chỉ được báo giá 1 lần đối với 1 cuốc.</h4>
        <p ng-if="formatDate(route.end_datetime) >= curtime" style="text-align: center;">
            <button class="button button-energized" ng-click="priceinf(route)" ng-show="route.is_marked == 1 && route.priceinf == 0">
                Báo Giá
            </button>
            <button class="button button-assertive" ng-click="buy(route)" ng-show="route.buy_price > 0 && route.locked_seat == 0">
                Mua Ngay
            </button>
            <button class="button button-balanced" ng-click="bid(route)" ng-show="route.current_price >0 && route.start_price >0 && route.locked_seat == 0">
                Trả Giá
            </button>
        </p>
        <p>Thời gian đón <span class="green-text bold-text">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}}</span> <span class="lightblue-text bold-text">({{route.seats}} chỗ)</span></p>

        <p class="lightred-text ng-hide" ng-show="route.receipt == 1">Yêu cầu hóa đơn đỏ</p>

        <p class="ng-hide" ng-show="route.buy_price > 0 && route.current_price > 0 && route.start_price >0">Giá mua ngay <span class="lightred-text bold-text">{{formatCurrency(route.buy_price)}}</span>, giá khởi điểm <span class="green-text bold-text">{{formatCurrency(route.start_price)}}</span>, giá hiện tại <span class="yellow-text bold-text">{{formatCurrency(route.current_price)}}</span></p>

        <p class="ng-hide" ng-show="route.buy_price <= 0 && route.current_price > 0 && route.start_price >0">Giá khởi điểm <span class="green-text bold-text">{{formatCurrency(route.start_price)}}</span>, giá hiện tại <span class="yellow-text bold-text">{{formatCurrency(route.current_price)}}</span></p>

        <p class="ng-hide" ng-show="route.buy_price > 0 && route.start_price <= 0">Giá mua ngay <span class="lightred-text bold-text">{{formatCurrency(route.buy_price)}}</span></p>

        <p class="ng-hide" ng-show="route.buy_price <= 0 && route.start_price <= 0 && route.current_price <= 0">Liên hệ <span class="lightblue-text bold-text">(04)36.888.000</span> để có giá tốt</p>

        <p class="ng-hide" ng-show="route.your_price > 0 ">
            Giá của bạn <span class="lightblue-text bold-text">{{formatCurrency(route.your_price)}}</span>
            <span ng-show="route.is_outbid == 1">, chưa phải là giá tốt nhất!</span>
            <span ng-show="route.is_outbid == 0">, là giá TỐT NHẤT!</span>
        </p>
        <ion-list ng-show="route.biduserlist != '' && route.biduserlist != 'null'" class="list-inset ng-hide">
            <h5 class="margin-top-40">Danh sách người đấu giá lịch này</h5>
            <ion-item ng-repeat="item in biduserlist">
                <h2>{{item.username}}</h2>
                <p>{{formatDate(item.bid_datetime) | date:'dd/MM - HH:mm a'}}, giá bid {{formatCurrency(item.bid_price)}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

