<ion-view view-title="{{currentCredit | number:0}}đ" hide-back-button="true">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" start-y="55" padding="false" has-tabs="true">
        <div id="search-box" class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="searchFilter">
                <i ng-if="search.length" class="clear-search icon ion-ios-close-outline" ng-click="clearSearch()"></i>
            </div>
            <button class="button button-clear" ng-click="openFilter()">
                Bộ Lọc
            </button>
        </div>
        <ion-list class="wrapping-list" can-swipe="listCanSwipe">
            <ion-item back-img="{{route.locked_seat == '1' ? 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYV43MyQkAIAwFUX+/wWIk/SoRFJdsc34MSiJu3BE5QVQJLlxIZiY8kQlfpEINfdBCF/TQhhGaMIMEDgsFJsTTYV6YAAAAAElFTkSuQmCC' : ''}}" class="item item-icon-right" ng-if="formatDate(route.end_datetime) >= curtime" ng-repeat="route in routes | filter:searchFilter" href="#/app/bidlist/{{route.id}}">
                <div class="locked-item">
                    <p><span ng-show="route.is_not_today > 0" class="ng-hide bold-text darkred-text">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}}</span><span ng-show="route.is_not_today <= 0" class="ng-hide bold-text lightgreen-text">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}}</span> <span class="lightblue-text bold-text">{{route.seats}}c</span> <span ng-if="route.car_quality != '0'" class="lightblue-text bold-text">Xe Mới </span> <span ng-if="route.is_cab != '0'" class="violet-text bold-text">Không Mào </span><span ng-if="route.customer_quantity > 0">{{route.customer_quantity}} khách</span><span ng-if="route.is_shared == 1"> [ghép xe]</span> <span ng-show="route.is_marked > 0" class="ng-hide violet-text bold-text">[Báo Giá] </span><span ng-show="route.is_marked > 0 && route.priceinf != 0" class="ng-hide">Bạn báo giá <b>{{formatCurrency(route.priceinf)}}</b></span></p>

                    <h2 class="wrap-text"><span ng-show="route.t_customer_vat == 1" class="ng-hide red-text bold-text">Hóa đơn</span> {{route.start}} <i class="ion-arrow-right-a ng-hide" ng-show="route.is_round_trip == 0"></i><i class="ion-arrow-swap ng-hide" ng-show="route.is_round_trip == 1"></i> {{route.destination}}</h2>

                    <!-- <span class="lightblue-text bold-text">{{route.seats}}c </span><span ng-if="route.car_quality != '0'" class="lightblue-text bold-text">Loại {{route.car_quality}} </span><span ng-show="route.is_marked > 0" class="ng-hide bold-text">[Báo Giá] </span>{{route.start}} <i class="ion-arrow-right-a ng-hide" ng-show="route.is_round_trip == 0"></i><i class="ion-arrow-swap ng-hide" ng-show="route.is_round_trip == 1"></i> {{route.destination}}

                    <p><span ng-show="route.is_not_today > 0" class="ng-hide darkred-text bold-text">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}}</span><span ng-show="route.is_not_today <= 0" class="ng-hide lightgreen-text bold-text">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}}</span> <span ng-show="route.t_customer_vat == 1" class="ng-hide bold-text">(Hóa đơn)</span></p> -->

                    <p class="ng-hide" ng-show="route.buy_price <= 0 && route.current_price > 0 && route.start_price >0">Đang bid <span class="red-text bold-text">{{formatCurrency(route.current_price)}}</span></p>

                    <p class="ng-hide" ng-show="route.buy_price > 0 && route.start_price <= 0">Mua ngay <span class="violet-text bold-text">{{formatCurrency(route.buy_price)}}</span></p>

                    <!-- <p class="ng-hide" ng-show="route.buy_price <= 0 && route.start_price <= 0 && route.current_price <= 0">Liên hệ <span class="bold-text">(04)36.888.000</span></p> -->

                    <p class="ng-hide" ng-show="route.buy_price > 0 && route.current_price > 0 && route.start_price >0">Mua ngay <span class="violet-text bold-text">{{formatCurrency(route.buy_price)}}</span>, đang bid <span class="red-text bold-text">{{formatCurrency(route.current_price)}}</span></p>

                    <p class="ng-hide" ng-show="route.your_price > 0 ">Giá của bạn <span class="lightblue-text bold-text">{{formatCurrency(route.your_price)}}</span>, <span ng-show="route.is_outbid == 0" class="red-text bold-text ng-hide">là giá tốt nhất!</span><span ng-show="route.is_outbid == 1" class="yellow-text bold-text ng-hide">chưa phải giá tốt nhất!</span></p>

                    <!-- <ion-spinner></ion-spinner> -->
                    <timer language="vn" end-time="returnMilliseconds(route.end_datetime)">{{hourUnit}}</timer>
                    <ion-option-button ng-show="route.is_marked == 1 && route.priceinf == 0" class="button button-energized" ng-click="priceinf(route)">Báo Giá</ion-option-button>
                    <ion-option-button ng-show="route.buy_price > 0 && route.locked_seat == 0" class="button button-assertive" ng-click="buy(route)">Mua Ngay</ion-option-button>
                    <ion-option-button ng-show="route.current_price >0 && route.start_price >0  && route.locked_seat == 0" class="button button-balanced" ng-click="bid(route)">Trả Giá</ion-option-button>
                    <i ng-show="route.your_price > 0 && route.is_outbid == 0" class="icon ion-ios-checkmark"></i>
                    <i ng-show="route.your_price > 0 && route.is_outbid == 1" class="icon ion-ios-circle-outline"></i>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar ng-show="message_title != ''" align-title="left" class="bar-stable">
        <h1 class="title messate-title"><marquee>{{message_title}}</marquee></h1>
        <div class="buttons" ng-click="viewMessage()">
            <button class="button button-positive">Xem</button>
        </div>
    </ion-footer-bar>
</ion-view>

