<ion-modal-view>
    <form novalidate>
        <ion-header-bar class="bar-positive fix-buttons">
            <h1 class="title">Bộ lọc</h1>
            <a class="button button-clear" ng-click="closeFilter()">Đóng</a>
        </ion-header-bar>
        <ion-content has-bouncing="true">
            <ion-checkbox ng-model="allFilter.mybid">Chỉ hiển thị lịch tôi đang Bid</ion-checkbox>
            <ion-checkbox ng-model="allFilter.today">Chỉ hiển thị lịch hôm nay</ion-checkbox>
            <div class="list">
                <div class="item item-divider">
                    Địa Điểm
                </div>
                <ion-checkbox ng-model="allFilter.toAirport">Lịch từ sân bay</ion-checkbox>
                <ion-checkbox ng-model="allFilter.fromAirport">Lịch tới sân bay về</ion-checkbox>
                <ion-checkbox ng-model="allFilter.otherAirport">Lịch khác</ion-checkbox>
            </div>
            <div class="list">
                <div class="item item-divider">
                    Hình thức
                </div>
                <ion-checkbox ng-model="allFilter.bid">Bid</ion-checkbox>
                <ion-checkbox ng-model="allFilter.buy">Mua ngay</ion-checkbox>
                <ion-checkbox ng-model="allFilter.other">Khác</ion-checkbox>
            </div>
            </ul>
        </ion-content>
    </form>
</ion-modal-view>

