<ion-view view-title="Lịch đã tham gia">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" start-y="55" padding="false" has-tabs="true">
        <ion-refresher pulling-text="Kéo xuống để lấy dữ liệu..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="wrapping-list" can-swipe="listCanSwipe">
            <ion-item ng-repeat="route in routes" class="item-icon-right">
                <span class="lightblue-text bold-text">{{route.seats}}c </span><span ng-if="route.car_quality != '0'" class="lightblue-text bold-text">Loại {{route.car_quality}} </span><span ng-show="route.is_marked > 0" class="ng-hide bold-text">[Báo Giá] </span>{{route.start}} <i class="ion-arrow-right-a ng-hide" ng-show="route.is_round_trip == 0"></i><i class="ion-arrow-swap ng-hide" ng-show="route.is_round_trip == 1"></i> {{route.destination}}

                <p><span ng-show="route.is_not_today > 0" class="ng-hide darkred-text bold-text">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}}</span><span ng-show="route.is_not_today <= 0" class="ng-hide lightgreen-text bold-text">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}}</span> <span ng-show="route.t_customer_vat == 1" class="ng-hide bold-text">(Hóa đơn)</span></p>

                <p class="ng-hide" ng-show="route.buy_price <= 0 && route.current_price > 0 && route.start_price >0">Đang bid <span class="red-text bold-text">{{formatCurrency(route.current_price)}}</span></p>

                <p class="ng-hide" ng-show="route.buy_price > 0 && route.start_price <= 0">Mua ngay <span class="yellow-text bold-text">{{formatCurrency(route.buy_price)}}</span></p>

                <p class="ng-hide" ng-show="route.buy_price <= 0 && route.start_price <= 0 && route.current_price <= 0">Liên hệ <span class="bold-text">(04)36.888.000</span></p>

                <p class="ng-hide" ng-show="route.buy_price > 0 && route.current_price > 0 && route.start_price >0">Mua ngay <span class="yellow-text bold-text">{{formatCurrency(route.buy_price)}}</span>, đang bid <span class="red-text bold-text">{{formatCurrency(route.current_price)}}</span></p>

                <p class="ng-hide" ng-show="route.your_price > 0 ">Giá của bạn <span class="lightblue-text bold-text">{{formatCurrency(route.your_price)}}</span>, <span ng-show="route.is_outbid == 0" class="red-text bold-text ng-hide">là giá tốt nhất!</span><span ng-show="route.is_outbid == 1" class="yellow-text bold-text ng-hide">chưa phải giá tốt nhất!</span></p>

                <p>
                    <span ng-if="route.status_id == 2" class="lightgreen-text bold-text">(Đã xử lý)</span>
                    <span ng-if="route.status_id == 3" class="lightred-text bold-text">(Hủy)</span>
                    <span ng-if="route.status_id == 4" class="yellow-text bold-text">(Hoàn thành)</span>
                    <!-- Thu khách <span class="violet-text bold-text">{{formatCurrency(route.customer_price)}}</span> -->
                </p>

                <!-- <ion-option-button ng-show="route.status_id == 2" class="button button-assertive" ng-click="message(route)"><i class="icon ion-ios-email"></i></ion-option-button> -->

                <!-- <p ng-show="route.driver_message != ''"><i class="ion-ios-email"></i> {{route.driver_message}}</p> -->

                <!-- <i ng-show="route.driver_message == '' && route.status_id == 2" class="icon ion-ios-more"></i>
                <i ng-show="route.driver_message != ''" class="icon ion-ios-paperplane"></i> -->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

