<ion-view view-title="Login" enable-menu-with-back-views="false" hide-back-button="true" no-drag-right>
    <pane side-menu-content drag-content="false">
        <ion-content>
            <form ng-submit="doLogin()">
                <div class="list list-inset">
                    <!-- <div class="row">
                        <div class="col"></div>
                        <div class="col"><img src="img/logo.png"/></div>
                        <div class="col"></div>
                    </div> -->
                    
                    <label class="item item-input">
                        <i class="icon ion-person placeholder-icon"></i>
                        <input type="number" id="lgUsername" placeholder="Số điện thoại" ng-model="loginData.username">
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="password" id="lgPassword" placeholder="Mật khẩu" ng-model="loginData.password">
                    </label>
                    <button class="button button-block button-positive">Đăng Nhập</button>
                    <!-- <a ng-click="showHelp()" class="button button-block button-clear button-assertive">Trợ Giúp</a> -->
                </div>
            </form>
        </ion-content>
</ion-view>

