<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <a ui-sref="app.bidlist" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/bidlist"><i class="icon ion-ios-paper-outline"></i>Danh Sách Lịch<span class="badge badge-assertive" ng-show="justAdd > 0">{{justAdd}}</span></a>
                <a ui-sref="app.winlist" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/winlist"><i class="icon ion-ios-paper"></i>Lịch Đã Nhận</a>
                <a ui-sref="app.joinlist" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/joinlist"><i class="icon ion-ios-list-outline"></i>Lịch Đã Tham Gia</a>
                <a ui-sref="app.topuplist" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/joinlist"><i class="icon ion-social-usd-outline"></i>Lịch Sử Nạp Tiền</a>
                <a ui-sref="app.message" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/message"><i class="icon ion-ios-chatbubble-outline"></i>Thông Báo<span class="badge badge-assertive" ng-show="messageCount > 0">{{messageCount}}</span></a>
                <a ui-sref="app.setting" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/setting"><i class="icon ion-ios-gear-outline"></i>Cài Đặt</a>
                <a ui-sref="app.help" ui-sref-active="current" class="item item-icon-left" menu-close href="#/app/help"><i class="icon ion-ios-book-outline"></i>Hướng Dẫn</a>
            </ul>
        </ion-content>
        <ion-footer-bar>
            <div class="bold-text red-text">TK: {{fullname}}</div>
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>

