<ion-view view-title="Chi tiết thông báo">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> Quay lại
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" has-bouncing="true">
        <h3 class="text-align-center">{{message.m_subject}}</h3>
        <h5 class="text-align-center">Ngày gửi: {{formatDate(message.m_datetime) | date:'dd/MM - HH:mm a'}}</h5>
        <p class="item item-text-wrap" ng-bind-html="message.m_content"></p>
    </ion-content>
</ion-view>

