<ion-view view-title="Tin nhắn hệ thống">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" start-y="55" padding="false" has-tabs="true">
        <ion-refresher pulling-text="Kéo xuống để lấy dữ liệu..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="wrapping-list">
            <ion-item ng-repeat="message in messages" class="item-icon-right" href="#/app/messagelist/{{message.m_id}}">
                <h2>{{message.m_subject}}</h2>
                <h5>{{formatDate(message.m_datetime) | date:'dd/MM - HH:mm a'}}</h5>
                <span class="badge badge-assertive" ng-show="message.is_read == 0">Mới</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

