<ion-view view-title="Cài đặt">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <form ng-submit="test()">
            <div class="list list-inset">
                <div class="list">
                    <ion-toggle ng-disabled="1" toggle-class="toggle-positive">Lưu Mật Khẩu 7 Ngày</ion-toggle>
                </div>
                <button ng-disabled="1" type="submit" class="button button-block button-positive">Lưu Thiết Lập</button>
            </div>
        </form>
        <form ng-submit="changePassword()">
            <div class="list list-inset">
                <div class="list">
                    <label class="item item-input">
                        <input type="password" placeholder="Mật Khẩu Cũ" ng-model="password.old">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Mật Khẩu Mới" ng-model="password.new">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Nhập Lại Mật Khẩu Mới" ng-model="password.renew">
                    </label>
                </div>
                <button type="submit" class="button button-block button-assertive">Đổi Mật Khẩu</button>
            </div>
        </form>
    </ion-content>
</ion-view>
