<ion-view view-title="Lịch sử nạp tiền">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" start-y="55" padding="false" has-tabs="true">
        <ion-refresher pulling-text="Kéo xuống để lấy dữ liệu..." on-refresh="doRefresh()">
        </ion-refresher>
        <div id="search-box" class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <input type="date" ng-model="filter.from_date">
                <input type="date" ng-model="filter.to_date">
            </div>
            <button class="button button-clear" ng-click="filterDate()">
                Tìm
            </button>
        </div>
        <ion-list class="wrapping-list">
            <ion-item ng-repeat="topup in topups" class="item-icon-right">
                <h2>{{formatDate(topup.t_datetime) | date:'dd/MM - HH:mm'}} <span class="red-text">{{topup.t_price | number:0}}đ</span></h2>
                <h3>{{topup.t_content}}</h3>
                
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div>Tổng nạp: {{total_price | number:0}}đ</div>
    </ion-footer-bar>
</ion-view>

