<ion-view view-title="Lịch đã nhận">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button nav-clear class="button button-icon icon ion-log-out" ng-click="Logout()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" start-y="55" padding="false" has-tabs="true">
        <ion-refresher pulling-text="Kéo xuống để lấy dữ liệu..." on-refresh="doRefresh()">
        </ion-refresher>
        <div id="search-box" class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <input type="date" ng-model="filter.from_date">
                <input type="date" ng-model="filter.to_date">
            </div>
            <button class="button button-clear" ng-click="filterDate()">
                Tìm
            </button>
        </div>
        <ion-list class="wrapping-list" can-swipe="listCanSwipe">
            <ion-item ng-repeat="route in routes" class="item-icon-right">

                <p><span ng-show="route.is_not_today > 0" class="ng-hide darkred-text">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}}</span><span ng-show="route.is_not_today <= 0" class="ng-hide lightgreen-text">{{formatDate(route.pickup_datetime) | date:'dd/MM - HH:mm a'}}</span> <span class="lightblue-text bold-text">{{route.seats}}c</span> <span ng-if="route.car_quality != '0'" class="lightblue-text bold-text">Xe Mới</span> <span ng-if="route.is_cab != '0'" class="violet-text bold-text">Không Mào</span><span ng-if="route.customer_quantity > 0">{{route.customer_quantity}} khách</span><span ng-if="route.is_shared == 1"> [ghép xe]</span> <span ng-show="route.is_marked > 0" class="ng-hide violet-text bold-text">[Báo Giá] </span></p>

                <h2 class="wrap-text">{{route.start}} <i class="ion-arrow-right-a ng-hide" ng-show="route.is_round_trip == 0"></i><i class="ion-arrow-swap ng-hide" ng-show="route.is_round_trip == 1"></i> {{route.destination}}</h2>

                

                 <h2 class="wrap-text" ng-show="(route.status_id == 2 || route.status_id == 4) && route.driver_message != ''"><a href='tel:{{route.customer_phone}}'><i class="ion-ios-telephone"></i> {{route.customer_phone}}</a> {{route.customer_name}}</h2>

                <p>
                    <span ng-if="route.status_id == 3" class="lightred-text">(Hủy)</span>
                    <span ng-show="route.customer_vat == 1" class="ng-hide red-text bold-text">Hóa đơn</span>
                    <span ng-if="route.is_debt == 1" class="lightred-text">Không thu tiền </span><span ng-if="route.is_debt == 0">Thu khách </span><span class="violet-text bold-text">{{formatCurrency(route.customer_price)}}</span>/{{formatCurrency(route.driver_price-route.customer_price)}}</p>

                <ion-option-button ng-show="route.status_id == 2" class="button button-assertive" ng-click="message(route)"><i class="icon ion-ios-email"></i></ion-option-button>
                <ion-option-button ng-show="route.status_id == 2 && route.driver_message != ''" class="button button-positive" ng-click="copyMessage(route)"><i class="icon ion-ios-copy"></i></ion-option-button>


                <p ng-show="route.driver_message != ''"><i class="ion-ios-email"></i> {{route.driver_message}}</p>

                <i ng-show="route.driver_message == '' && route.status_id == 2" class="icon ion-ios-more"></i>
                <i ng-show="route.driver_message != ''" class="icon ion-ios-paperplane"></i>

                <p>LÁI XE: <select>
					<option>29X-132.33</option>
					<option selected>30L-443.12</option>
					<option>29X-132.33</option>
				</select></p>

            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div>Thu khách: {{total_price | number:0}}đ ({{total_cut | number:0}}đ)</div>
    </ion-footer-bar>
</ion-view>

